body {
  font-family: 'asap', sans-serif;
}

.container {
  text-align: left;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#login-card {
  animation: splash 0.5s ease-out;
}

#password-card {
  display: none;
  animation: slide-in 0.5s forwards;
}

.is-invalid input {
  border-color: red;
  background-color: #ffe6e6;
}

.is-invalid input::placeholder {
  color: red;
}

.show {
  display: block !important;
}

.create-account-link {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 0.9rem;
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
  padding-left: 30px;
  padding-right: 25px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #007bff;
  box-shadow: none;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
}

.clear-email:hover {
  background-color: #0056b3;
}

.fontemail { 
  position: relative; 
} 

.fontemail i.fa-envelope{ 
  position: absolute; 
  left: 3px; 
  top: 10px; 
  color: #007bff; 
} 

.fontemail i.fa-times-circle{ 
  position: absolute; 
  right: 3px; 
  top: 12px; 
  color: #007bff; 
} 

.fontpassword { 
  position: relative; 
} 

.fontpassword i.fa-key{ 
  position: absolute; 
  left: 3px; 
  top: 10px; 
  color: #007bff; 
} 

.fontpassword i.fa-eye-slash,
.fontpassword i.fa-eye{ 
  position: absolute; 
  right: 3px; 
  top: 12px; 
  color: #007bff; 
} 

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-weight: bold;
}

.quote {
  font-style: italic;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes splash {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

